@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-transition {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #507844;
    z-index: 999;
    animation: opened 1.5s cubic-bezier(.19,1,.22,1) forwards 1s;
}

@keyframes opened {
    to {
        height: 0;
    }
}